<mat-table [dataSource]="clientes">

  <!-- id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Número</mat-header-cell>
    <mat-cell *matCellDef="let cliente">{{ cliente.id }}</mat-cell>
  </ng-container>

  <!-- nome Column -->
  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let cliente">{{ cliente.nome }}</mat-cell>
  </ng-container>

  <!-- sobrenome Column -->
  <ng-container matColumnDef="cpf">
    <mat-header-cell *matHeaderCellDef>CPF</mat-header-cell>
    <mat-cell *matCellDef="let cliente">{{ cliente.cpf }}</mat-cell>
  </ng-container>

  <!-- sobrenome Column -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
    <mat-cell *matCellDef="let cliente">{{ cliente.status }}</mat-cell>
  </ng-container>

  <!-- acoes Column -->
  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef class="action-column">
      <button mat-mini-fab color="accent" aria-label="Adicionar um cliente" (click)="onAdd()"
              class="action-column-header">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let cliente" class="action-column">
      <button mat-icon-button color="primary" aria-label="Editar um cliente" (click)="onEdit(cliente)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
